/* Remove padding and margin from all elements */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar{
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo_container{
    width: fit-content;
    text-align: center;
}

.logo_image{
    width: 53px;
    height: 58px;
}

.logo_text{
    color: white;
    font-weight: 900;
    font-size: 18px;
   
}

.logo_text span{
    color: #d32323;
}

.nav_links{
    display: flex;
    font-weight: 700;
    font-size: 16px;
    gap: 26px;
}

.nav_links a, .login a, .register a{
    color : white;
    text-decoration: none;
}

.login a{
    border-radius: 5px;
    border: 1px solid white;
    padding: 9px 33px 9px 33px;
}

.register a{
    border-radius: 5px;
    background-color: #d32323;
    padding: 10px 23px 10px 23px;
}

.action_buttons{
    display: flex;
    gap: 25px;
}

body{
    background-image: url(./images/hero_bg.png);
    /* backgrou/nd-color: #d32323; */
}