/* Remove padding and margin from all elements */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar{
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo_container{
    width: fit-content;
    text-align: center;
}

.logo_image{
    width: 53px;
    height: 58px;
}

.logo_text{
    color: white;
    font-weight: 900;
    font-size: 18px;
   
}

.logo_text span{
    color: #d32323;
}

.nav_links{
    display: flex;
    font-weight: 700;
    font-size: 16px;
    gap: 26px;
}

.nav_links a, .login a, .register a{
    color : white;
    text-decoration: none;
}

.login a{
    border-radius: 5px;
    border: 1px solid white;
    padding: 9px 33px 9px 33px;
}

.register a{
    border-radius: 5px;
    background-color: #d32323;
    padding: 10px 23px 10px 23px;
}

.action_buttons{
    display: flex;
    gap: 25px;
}
    
.fake-body{
    /* background-image: url(./images/hero_bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: green;
}

.hero_text{
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

.hero_sub_text{
    font-weight: 700;
    font-size: 18px;
    color:#ffffff;
}

/* .hero_img_container{
    display: flex;
    gap: 20px;
} */

.hero_img_container img{
    width: 87px;
    height: 90px;
    margin: 0px 10px;
}

.hero{
    margin-top: 110px;
}

.rent{
    background-color: #F6F8FA;
    padding: 25px 61px;
    font-weight: 700;
    font-size: 18px;
}

.buy{
    padding: 25px 64px;
    background-color: #D32323;
    font-weight: 700;
    font-size: 18px;
}

.roommate{
    padding: 25px 36px;
    background-color: #F6F8FA;
    font-weight: 700;
    font-size: 18px;
}

.r-b-r{
    display: flex;
    justify-content: center;
    margin-top: 46px;
}

.search_heading{
    font-weight: 600;
    font-size: 18px;
}

.search_option{
    font-weight: 400;
    font-size: 18px;
}

.quick_search{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    border: 1px solid #00000040;
    padding: 40px 0px;
    align-items: center ;
    width: 80%;
    border-radius: 10px;
    margin: 0px auto;
}

.search{
    padding: 20px;
    background-color: #D32323;
    border-radius: 5px;
}