/* Remove padding and margin from all elements */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar{
    /* background-color: #D32323; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 57px;
    padding-top: 15px;
    z-index: 20;
    position: relative;
}


.logo_container{
    width: fit-content;
    text-align: center;
}

.logo_image{
    width: 53px;
    height: 58px;
}

.logo_text{
    color: white;
    font-weight: 900;
    font-size: 18px;
   
}

.logo_text span{
    color: #d32323;
}

.nav_links{
    display: flex;
    font-weight: 700;
    font-size: 16px;
    gap: 26px;
}


.nav_links a, .login a, .register a{
    color : white;
    text-decoration: none;
}

.login a, .menu{
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 9px 33px 9px 33px;
}

.register a{
    border-radius: 5px;
    background-color: #d32323;
    padding: 10px 23px 10px 23px;
}

.action_buttons{
    display: flex;
    gap: 25px;
}
    
.fake-body{
    background-image: url(./images/hero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    /* background-color: rgb(21, 31, 104) */
}

.overlay{
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    opacity: 45%;
}

.hero_text{
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

.hero_sub_text{
    font-weight: 700;
    font-size: 18px;
    color:#ffffff;
}

/* .hero_img_container{
    display: flex;
    gap: 20px;
} */

.hero_img_container img{
    width: 87px;
    height: 90px;
    margin: 0px 10px;
    /* margin-inline: 10px; */
}

.hero{
    margin-top: 110px;
    margin-left: 57px;
    position: relative;
    z-index: 20;
}

/* Where We Stopped In Tailwind */
.rent{
    background-color: #F6F8FA;
    padding: 25px 61px;
    font-weight: 700;
    font-size: 18px;
}

.buy{
    padding: 25px 64px;
    background-color: #D32323;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.roommate{
    padding: 25px 36px;
    background-color: #F6F8FA;
    font-weight: 700;
    font-size: 18px;
}

.r-b-r{
    display: flex;
    justify-content: center;
    margin-top: 46px;
    z-index: 20;
    position: relative;
}

.search_heading{
    font-weight: 600;
    font-size: 18px;
}

.search_option{
    font-weight: 400;
    font-size: 18px;
}

.quick_search{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    border: 1px solid #00000040;
    padding: 40px 0px;
    align-items: center ;
    width: 80%;
    border-radius: 10px;
    margin: 0px 0px -100px;
    justify-self: center;
    z-index: 20;
    position: relative;
}

.search{
    padding: 20px;
    background-color: #D32323;
    border-radius: 5px;
}

.Searching_for_property{
    margin-block: 193px;
}

.heading{
    font-weight: 900;
    font-size: 36px;
    color: #000000E5;
    margin-bottom: 8px;
}

.sub_heading{
    font-weight: 500;
    font-size: 16px;
    color: #000000E5;
}

.Searching_for_property_text_container{
    text-align: center;
    margin-bottom: 55px;
}

.line{
    width: 55px;
    height: 3px;
    background-color: #D32323;
    margin: 16px auto 0px;
    border-radius: 5px;
}

.selfcontain{
    background-image: url(./images/self_contain.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 226px;
    width: 267px;
    position: relative;
}

.selfcontain_text h2{
    font-weight: 900;
    font-size: 24px;
    color: #FFFFFF;
}

.selfcontain_text p{
    margin-top: 13px;
    background-color: #D32323;
    padding: 5px 28px;
    color: #FFFFFF;
    width: fit-content;
}

.selfcontain_text{
    position: relative;
    z-index: 20;
    height: 226px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flats{
    background-image: url(./images/flats.png);
    background-repeat: no-repeat;    
    background-size: cover;
    width: 267px;
    height: 226px;
    position: relative;
}

.houses{
    background-image: url(./images/houses.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 549px;
    height: 246px;
    position: relative;
    margin-top: 15px;
}

.apartments{
    background-image: url(./images/apartment.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 470px;
    height: 485px;
    position: relative;
}

.selfcon_and_flats{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.Searching_for_property_img_container{
    display: flex;
    margin: auto;
    justify-self: center;
    gap: 15px;
}

.sidenav{
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
    inset: 0px;  
    display: none; 
}

.sidenav_links{
    text-decoration: none;
    padding: 10px;
    color: white;
    margin: 20px;
    display: block;
    background-color: #D32323;
}

.menu{
    display: none;
}


/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav_links, .action_buttons{
        display: none;
    }
    .navbar{
        margin: 0px 10px;
    }
    .menu{
        display: block;
    }
    .hero{
        margin: 20px 10px 0px;
    }
    .rent, .buy, .roommate{
        padding: 20px;
    }
    .quick_search{
        flex-direction: column;
        width: 100%;
        padding-inline: 10px;
        text-align: center;
    }
    .quick_search div, .quick_search span{
        width: 100%;
        margin-bottom: 10px;
    }
    .quick_search span{
        background-color: #D32323;
        border-radius: 10px;
    }
    .Searching_for_property_img_container{
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}